@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,700&family=Caveat:wght@700&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


.passwordSection {
    font-weight: bolder;
}

body {
    background-color: #f5f5dc;
}

.PwTab {
    background-color: #ffffff;
    text-align: center;
    border-radius: 5%;
    padding: 7rem 0rem 10rem 0rem;
    height: 25rem;
    width: 50rem;
    display: block;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
}

.redirect a {
    text-decoration: none;
}

.GeneratorBtn,
.CopyBtn {
    padding: 0.65rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.GeneratorBtn {
    background-color: #7fffd4;
    border-radius: 5%;
}

.CopyBtn {
    background-color: #e8ff7f;
    border-radius: 5%;
}

.desc {
    font-size: 1.5rem;
    padding-bottom: 0.9rem;
}

.AppTitle {
    
    font-size: 9rem;
    font-family: 'Titillium Web', sans-serif;
    margin: -4.5rem 0rem 2rem 0rem;
}

hr {
    opacity: 0.5;
    margin: 0rem 5rem 0rem 5rem;
}

.desc,
.GeneratorBtn,
.CopyBtn,
.redirect {
    font-family: 'Lato', sans-serif;
}

#passwordSection {
    margin: 2rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;

}
