@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,700&family=Caveat:wght@700&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


/* Body styles*/

body {
    background-color: #f5f5dc;
}

.PwTab {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 7rem 0rem 10rem 0rem;
    height: 25rem;
    width: 100%;
    display: grid;
    margin: 5rem 0 5rem 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
}


/* Button styles */
.GeneratorBtn,
.CopyBtn {
    padding: 0.65rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.GeneratorBtn {
    background-color: #7fffd4;
    border-radius: 5%;
}

/* Font styles*/

.CopyBtn {
    background-color: #e8ff7f;
    border-radius: 5%;
}

.desc {
    font-size: 1.8rem;
    padding-bottom: 0.9rem;
}

.AppTitle {
    font-size: 9rem;
    font-family: 'Titillium Web', sans-serif;
    margin: -6.5rem 0rem 0rem 0rem;
}

hr {
    opacity: 0.5;
    margin: 0rem 5rem 0rem 5rem;
}

.desc,
.GeneratorBtn,
.CopyBtn,
.redirect {
    font-family: 'Lato', sans-serif;
}

#passwordSection {
    margin: 0rem;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}

.iconsStyle {
    font-size: 3rem;
}

.footerStyle {
    cursor: pointer;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.footerStyle,
.iconsStyle {
    padding: 0.5rem;
    margin: 0.5rem;
}

.redirect a {
    text-decoration: none;
}
