@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,500;1,700&family=Caveat:wght@700&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

/* Body styles*/

body {
    background-color: #f5f5dc;
}

.PwTab {
    background-color: #ffffff;
    text-align: center;
    border-radius: 10px;
    padding: 7rem 0rem 30rem 0rem;
    height: 20rem;
    width: 100%;
    display: grid;
    margin: 2rem 0rem 2rem 0rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 25px rgba(129, 129, 129, 0.2);
}

/*
-------------------------------------------
                Button styles 
-------------------------------------------
*/

.GeneratorBtn {
    background-color: #7fffd4;
}

.EasyBtnStyle {
    background-color: #ff7f7f;
}

.MdmBtnStyle {
    background-color: #f6ff7f;
}

.HrdBtnStyle {
    background-color: #7fffee;
}

.VhBtnStyle {
    background-color: #7fff94;
}

.Divider {
    margin-top: 1.5rem;
}

/* 
--------------------------------------------
                Font styles
--------------------------------------------
*/

.CopyBtn {
    background-color: #e8ff7f;
    border-radius: 5%;
}

.desc {
    font-size: 1.8rem;
    padding-bottom: 0.9rem;
}

.AppTitle {
    font-size: 4rem;
    font-family: 'Titillium Web', sans-serif;
    margin: -6.5rem 0rem 0rem 0rem;
}

hr {
    opacity: 0.5;
    margin: 0rem 5rem 0rem 5rem;
}

.desc,
.CopyBtn,
.redirect,
.EasyBtnStyle,
.MdmBtnStyle,
.HrdBtnStyle,
.VhBtnStyle {
    font-family: 'Lato', sans-serif;
}

.CopyBtn,
.EasyBtnStyle,
.MdmBtnStyle,
.HrdBtnStyle,
.VhBtnStyle {
    padding: 2rem 5rem;
    font-size: 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 20px;
}

#passwordSection {
    margin: 0.5rem;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    background-color: #181818;
    color: #ffffff;
    padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    font-size: 1.5rem;
    border-radius: 20px;
}

.BtnSection {
    display: flex;
    margin: 3rem 0rem;
}

.PwBtn {
    display: flex;
    flex-flow: column;
}

.iconsStyle {
    font-size: 3.5rem;
}

.footerStyle {
    cursor: pointer;
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.footerStyle,
.iconsStyle {
    padding: 0.5rem;
    margin: 0.5rem;
}

.redirect a {
    text-decoration: none;
}
